.about-section {
  padding: 4rem 6rem;
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
  transition: transform 0.3s, box-shadow 0.3s;

  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .about-image {
    flex: 1;

    img {
      width: 80%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .about-text {
    flex: 1;

    h1 {
      font-size: 1.8rem;
      color: #000;
      margin-bottom: 1.5rem;
      margin-left: 0; /* Remove left margin for centering */
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      text-align: center; /* Center-align the text */
    }

    p {
      font-size: 1rem;
      color: #000;
      line-height: 1.6;
      text-align: justify;
      margin: 0 auto;
      max-width: 90%;
      font-weight: 600;

      strong {
        color: #333;
        font-weight: 500;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .about-section {
    text-align: center;

    .about-container {
      flex-direction: column;
      gap: 2rem;
    }

    .about-image {
      display: none;
    }

    .about-text {
      margin-left: 0;
      border: 1px solid #000; /* Add rectangular border */
      border-radius: 5px; /* Slightly rounded corners */
      padding: 1.5rem; /* Space inside the border */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 1rem;

    .about-container {
      gap: 1rem;
    }

    .about-text {
      padding: 1.5rem;
      border-radius: 5px; /* Maintain rectangular shape */

      h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.8;
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
}
